@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
:focus{
  outline: none;
}
button{
  cursor: pointer;
}
h1, h2, h3, p, button{
  font-family: 'Righteous', cursive;
}
h1{
  font-size: calc(120% + 3vw);
  color: white;
  margin: 2vh 0;
}
#yt-player{
  display: none;
}
body>div>div{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
body>div>div>div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.divider{
  width: 75vw;
  height: 1px;
  border-bottom: 1px dashed rgb(46, 37, 46);
  margin: 1vh 0;
}
/*--------------------------------------Nav Bar--------------------------------------*/
nav{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 100vh;
  width: 55px;
  min-width: 55px;
  background-image: linear-gradient(to top left, rgb(17, 0, 36), rgb(14, 10, 14));
}
nav>a{
  font-size: calc(140% + 0.5vw);
  color: white;
  padding: 1vh 0;
  text-decoration: none;
  text-align: center;
}
nav>a:last-of-type{
  flex-grow: 1;
}
/*--------------------------------------Play Bar--------------------------------------*/
#play-bar{
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to bottom right, rgb(17, 0, 36), rgb(14, 10, 14));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}
#play-bar>div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
#play-bar>div>button{
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10vw;
  font-size: calc(100% + 0.5vw);
}
.active{
  background-color: rgba(102, 105, 114, 0.4);
}
.inactive{
  background-color: rgba(102, 105, 114, 0.8);
}
input[type=range].volume-slider{
  width: 120px;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].volume-slider::-webkit-slider-runnable-track{
  background: #ffffff;
  border-radius: 25px;
  height: 8px;
  cursor: pointer;
}
input[type=range].volume-slider::-webkit-slider-thumb{
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: #5d73ac;
  background-color: rgb(102, 105, 114);
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].played-slider{
  width: calc(100vw - 55px);
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].played-slider::-webkit-slider-runnable-track {
  margin-top: -10px ;
  background: #ffffff;
  border-radius: 25px;
  height: 2px;
  cursor: pointer;
}
input[type=range].played-slider::-webkit-slider-thumb{
  width: 20px;
  height: 2px;
  background: #5d73ac;
  background-color: rgb(102, 105, 114);
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
/*--------------------------------------Home Page--------------------------------------*/
#home-page{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(17, 0, 36), rgb(46, 37, 46));
  overflow-x: hidden
}
#home-page>div>h1>p{
  font-size: 53%;
  text-align: right;
  margin-top: -0.9vw;
}
#home-page>section{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home-page>section>button{
  background-color: rgba(102, 105, 114, 0.4);
  color: white;
  border: none;
  width: calc(300px + 20vw);
  height: calc(300px + 20vw);
  max-width: calc(100vw - 55px);
  border-radius: 50vw;
  font-size: calc(120% + 4vw);
}
/*--------------------------------------Search Page--------------------------------------*/
#search-page{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(17, 0, 36), rgb(46, 37, 46));
  overflow-x: hidden
}
#search-page>section{
  width: 100%;
  display: flex;
  justify-content: center;
}
#search-page>section>input{
  border: none;
  border-radius: 20px;
  height: calc(20px + 2.5vh);
  width: 70%;
  background-color: white;
  align-self: center;
  margin-right: 1vw;
}
#search-page>section>button{
  background-color: rgba(102, 105, 114, 0.4);
  color: white;
  border: none;
  width: calc(20px + 2.5vh);
  height: calc(20px + 2.5vh);
  border-radius: 10vw;
  font-size: 180%;
}
#search-page>div{
  display: flex;
  flex-wrap: wrap;
  width: calc(70% + 20px + 2.5vh);
  margin-top: 1vh;
}
#search-page>div>button{
  color: white;
  border: none;
  width: auto;
  padding: 0 15px;
  margin-right: 1vw;
  height: calc(20px + 2.5vh);
  border-radius: 10vw;
  font-size: 100%;
}
.focus-button{
  background-color: rgba(102, 105, 114, 0.9) !important;
  font-size: 120% !important;
} 
.no-focus-button{
  background-color: rgba(102, 105, 114, 0.4);
}
#search-page>p{
  font-size: calc(70% + 3vw);
  color: white;
}
#search-page>h2{
  font-size: calc(130% + 1vw);
  color: white;
  align-self: flex-start;
  margin-left: 10vw;
}
/*--------------------------------------Lists--------------------------------------*/
#show-lists{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90vw;
}
#show-lists>section{
  width: 40%;
  height: 60px;
  background-color: rgba(102, 105, 114, 0.8);
  margin: 0.5vh 0;
  border-radius: calc(6px + 0.6vw);
  display: flex;
}
#show-lists>section>div{
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}
#show-lists>section>div>div{
  width: 60px;
  margin-left: -65px;
  position: sticky;
  opacity: 0.8;
}
#show-lists>section>div:first-of-type{
  flex-grow: 0;
  flex-shrink: 0;
}
#show-lists>section>div:last-of-type{
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}
#show-lists>section>div>img{
  border-top-left-radius: calc(6px + 0.6vw);
  border-bottom-left-radius: calc(6px + 0.6vw);
  width: 60px;
  min-width: 60px;
  flex-grow: 0;
}
#show-lists>section>div>h3{
  font-size: calc(90% + 0.4vw);
  margin: 0.5vh 0.5vw;
  max-height: calc(16px + 1vw);
  overflow: hidden;
}
#show-lists>section>div>p{
  margin: 0.5vh 0.5vw;
  max-height: calc(16px + 1vw);
  overflow: hidden;
}
/*--------------------------------------Artist Page--------------------------------------*/
#artist-page{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(17, 0, 36), rgb(46, 37, 46));
  overflow-x: hidden
}
#artist-page>img{
  max-width: 225px;
  max-height: 225px;
  width: 80vw;
  height: 80vw;
  object-fit: none;
  border-radius: 100%;
  margin-top: 2vh;

}
#artist-page>h2{
  font-size: calc(130% + 1vw);
  color: white;
  margin-left: 10vw;
  margin: 1vh 0;
}
#artist-page>section{
  width: 80vw;
  height: 60px;
  background-color: rgba(102, 105, 114, 0.6);
  margin: 0.5vh 0;
  border-radius: calc(6px + 0.6vw);
  display: flex;
  align-items: center;
}
#artist-page>section>div:last-of-type{
  flex-grow: 1;
  text-align: left;
}
#artist-page>section>div>h3{
  font-size: calc(100% + 0.6vw);
  max-height: calc(16px + 2vw);
  overflow: hidden;
}
#artist-page>section>div>p{
  font-size: calc(100% + 0.2vw);
  max-height: calc(16px + 2vw);
  overflow: hidden;
}
/*--------------------------------------Player--------------------------------------*/
#player{
  display: flex;
  flex-direction: row;
}
#player>button{
  background-color: rgba(102, 105, 114, 1);
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10vw;
  font-size: calc(100% + 0.7vw);
  margin: 5px;
  flex-shrink: 0;
}
@media (max-width: 600px) { 
#show-lists>section{
    width: 80vw
  }
}
@media (max-width: 400px) { 
  body>div>div{
    flex-direction: column-reverse;
  }
  nav{
    flex-direction: row;
    width: 100vw;
    height: calc(20px + 3vh);
    background-image: none;
    background-color: rgb(17, 0, 36);
  }
  nav>a{
    flex-grow: 1;
    margin: 0 5vw;
  }
  #play-bar{
    width: 100vw;
    margin-bottom: calc(20px + 3vh);
    background-image: none;
    background-color: rgb(17, 0, 36);
  }
  input[type=range].played-slider {
    width: 100vw;
  }
  input[type=range].volume-slider {
    max-width: calc(100vw - 60px);
  }
  #home-page>section>button{
    max-width: calc(100vw - 10px);
  }
  #search-page>div{
    width: 100vw;
    justify-content: space-evenly;
  }
  #search-page>div>button{
    width: 49vw;
    margin: 0.5vw;
  }
}